@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0a09;
}
.carousel-container {
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 50px;
}
