
.imagen-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
    
}
  .title-S{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    
  }
  .desc-p{
    font-size: 12px;
    text-align: justify;
    color: #ffffff;
    
  }
.card {
    width: 300px;
    border: 3px solid #0b0a09;
    padding: 10px;
    transition: all 0.3s;
    color: black;
    font-size: 15px;
    
  }
  
  .card title{
    text-align: center;
  }
  
  .card img {
    max-width: 100%;
  }
  
  .card-content {
    display: ruby;
  }
  
  .card.hovered {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card.hovered .card-content {
    display: block;
  }

  .bg-custom-blue {
    background-color: #0f4bad;
  }
  .text-custom-yellow {
    color: #fde502;
  }